header {
    background-image: url("../img/pattern.png");
    background-size: 300px;
    height: 75px;
    background-color: rgba(79, 160, 255, 0.8);
}

.logo {
    width: 150px;
    padding-top: 30px;
    padding-left: 320px;
}

h1 {
    font-size: 30px;
    width: 700px;
    margin-bottom: auto;
}

main {
    margin: auto;
    width: fit-content;
}

.sezione-titolo-autore-data {
    margin-bottom: 20px;
}

.autore {
    color: grey;
    font-size: 14px;
    font-weight: bold;
}

.data {
    color: grey;
    font-size: 10px;
}

.the-booleaner {
    color: rgb(40, 173, 230);
    font-weight: lighter;
}

.immagini {
    font-size: 10px;
}

.testo-articolo {
    max-width: 1000px;
    text-align: justify;
}

.highlighted-text {
    background-color: yellow;
}

table {
    text-align: left;
    border-collapse: collapse;
}

thead {
    font-weight: bold;
    background-color: rgb(40, 173, 230);
    color: white;
}

tbody tr:nth-child(odd) {
    background-color: rgb(178, 230, 241);
}

.container {
    position: relative;
    color: white;
}

.testo-alto-sinistra {
    position: absolute;
    top: 8px;
    left: 16px;
    color: white;
}
